/* CSS Document */
body {
	margin: 0px;
	font-family: sans-serif;	
}
.page {
	display: flex;
	flex-direction: column;
	background-color: rgba(255, 248, 164,1);
	min-height: 100vh;
}
#placeholder{
	width: 100%;
	height: 100px;	
}
#fb_redirect{
	background-image: url("images/icon-fb.png");
	width: 46px;
	height: 32px;
	position: absolute;
	left: 0px;
}
header {
	width: 100%;
	height: 100px;
	background-color: rgba(72, 66, 25,1);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	position: fixed;
}
nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 600px;
}
nav a {
	color: rgba(255, 248, 164,1);
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	width: 100px;
	font-size: 10pt;
	transition-duration: 0.4s;
	cursor: pointer;
}
nav a:hover{
		color: white;
}
#titul{
	cursor: pointer;
	height: 80px;
	min-width: 230px;
	color: white;
	text-align: right;
	font-size: 16pt;	
}
#logo{
	width: 33px;
	height: 54px;
	position: absolute;
	margin-top: 25px;
	margin-left: 15px;
}
#image-show{
	background-image: url("images/kostel_podelny.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}
article{
	flex-grow: 1;
	padding: 1em;
	max-width: 1200px;
}
section{
	display: flex;
	flex-direction: row;
	height: 600px;
	text-align: center;
	background-color: rgba(255, 248, 164,1);
	flex-grow: 1;
}
aside{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 300px;
}
aside *{
	width: 280px;
	margin-left: 10px;
}
aside p{
	color: #471819;
	font-style: italic;
}
aside span:first-child{
	color: #471819;
	font-style: italic;	
}
#main{
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
section a {
	text-decoration: none;
	color: #224675;
	font-weight: bold;
	font-family: sans-serif;
}
#main div{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	width: 300px;
	color: #444444;
	font-family: 'Open Sans';
	font-size: 13pt;
	font-weight: bold;
}
h3{
	color: rgb(62, 0, 0);
}
#drop_zone {
	border: 5px dashed black;
	height: 100px;
	background-color: gray;
	color: white;
	font-weight: bold;
}
footer {
	font-family: 'Open Sans';
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	height: 100px;
	background-color: rgb(205, 183, 158);
}
footer a{
	color: rgb(35,75,75);
	text-decoration: none;
}
.rollMenu{
	position: fixed;
	display: flex;
	flex-direction: column;
}
.rollItem{
	color: rgba(255, 248, 164,1);
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	min-height: 30px;
	line-height: 30px;
	font-size: 10pt;
	z-index: 2;
	background-color: rgba(72, 66, 25,1);
}
@media screen and (max-width: 900px) {
	nav a {
		width: 75px;
		font-size: 7.5pt;
	}
	header{
		height: 90px;
	}
	#placeholder{
		height: 90px;
	}
	#titul{
		font-size: 14pt;
	}
}
@media screen and (max-width: 700px) {
	nav a {
		width: 75px;
		font-size: 7.5pt;
	}
	header{
		height: 110px;
		flex-wrap: wrap;
	}
	#placeholder{
		height: 110px;
	}
	#titul{
		font-size: 16pt;
	}
}
@media screen and (max-width: 500px) {
	nav a {
		width: 85px;
		font-size: 7.5pt;
		text-align: left;
		height: 25px;
		text-align: center;
	}
	header{
		height: 200px;
	}
	#placeholder{
		height: 200px;
	}
	#titul{
		font-size: 16pt;
	}
	nav {
		flex-wrap: wrap;
	}
	footer{
		flex-direction: column;
	}
}
@media screen and (max-width: 1200px) {
	section{
		flex-wrap: wrap;
		justify-content: space-evenly;
		height: 1200px;
	}
	#main{
		height: 600px;
		flex-wrap: wrap;
		order: 1;
		flex-basis: 80%;
	}
	#main div{
		height: 600px;
	}
	aside{
		border-top: 1px solid rgb(72, 66, 25,0.7);
		height: 600px;
		order: 2;
	}
}
@media screen and (max-width: 616px) {
	section{
		flex-wrap: wrap;
		justify-content: space-evenly;
		height: 2400px;
	}
	#main{
		height: 1200px;
		order: 1;
		flex-basis: 80%;
	}
	#aktuality{
		border-top: 1px solid rgb(72, 66, 25,0.7);
	}
	aside{
		height: 600px;
		order: 2;
	}
}